serverScripts/

# logs and files created from testing
MultiCraftServer/logs/
MultiCraftServer/world/stats/
MultiCraftServer/world/playerdata/
MultiCraftServer/plugins/*.csv

# ide specific folders and files
.vscode/
.idea/
.settings/
.classpath
.project
bin/
out/

*.cfg

# jar-compilation specific files
MultiCraft.jar_xml
MultiCraft.iml