[submodule "MultiCraftTextServer"]
	path = MultiCraftTextServer
	url = https://github.com/mendozatudares/MultiCraftTextServer
[submodule "MultiCraftServer"]
	path = MultiCraftServer
	url = https://github.com/mendozatudares/MultiCraftServer
[submodule "MultiCraftClient"]
	path = MultiCraftClient
	url = https://github.com/mendozatudares/MultiCraftClient
[submodule "TangiCraft"]
	path = TangiCraft
	url = https://github.com/mendozatudares/TangiCraft
